@use 'variables' as *;

@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  @if $gap !=0 {
    gap: $gap;
  }
}

@mixin heading-text {
  font-weight: $text-bold;
  font-size: $text-xl;
  font-family: $font-display;
}

@mixin body-text {
  font-size: $text-md;
  font-family: $font-body;
}

@mixin label-text {
  font-weight: $text-thin;
  font-size: $text-sm;
  font-family: $font-body;
}

@mixin img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
