@use '../abstracts/' as *;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $color-gray-500;
    border-radius: $radius-full;
  }
}

.VueHotToast {
  &__toast-container {
    @include body-text;
  }
  &__toast {
    border-radius: $radius-full;
    color: $color-gray-800;
    border: $border-light;
  }
  &__checkmark {
    background: $color-gray-800;
  }
  // &__loading {
  //   animation: loadingRotate 0.5s linear infinite;
  // }
}
